// toppage styles
#toppage
    background-color #E5E5E5

#heading
    padding-top 112px

#heading-top
    margin-bottom 22px

#quote-line
    margin-top 41px

#menu-links
    margin-top 105px
    
    .menu-link
        margin-bottom 35px