//- toppage structure
#toppage.page

    #heading.max-content
        h6#heading-top rgb.ag
        h1#heading-title Arbeitsgruppe <br>Lichtfarben 
    #quote-line.max-content 
        h4#quote1 Aus dem Bildschirm, durch die Augen, ins Gehirn.

    #menu-links.max-content
        h1#project-menu-link 
            a(href="#projekte") Projekte
        h1#contact-menu-link 
            a(href="#kontakt") Kontakt

    include ../footermodule/footer.pug