//- projectpage structure
#projectpage.page
    include ../pageheadingmodule/pageheading.pug
    h1#projectpage-title.max-content Projekte

    #project-listing.max-content
        h2.project-title: a(href="https://rgb.li" target="blank") rgb.li 
        h2.project-title: a(href="https://burgerbird.com" target="blank") Burgerbird
        h2.project-title: a(href="https://videomat.org" target="blank") Videomat
        h2.project-title: a(href="https://salmutter.shop" target="blank") Salmutter Online
        h2.project-title: a(href="https://hackmd.io/MiPqChjbRhayKgd1rGf_Kw?view" target="blank") Asset Flow Control System 
        h2.project-title: a(href="https://www.npmjs.com/package/thingycreate" target="blank") Thingycreate
        h2.project-title: a(href="https://mega.easyhabits.app" target="blank") Easy Habits
        h2.project-title: a(href="https://hackmd.io/PZjpRfzPSBCqS-8K54x2jA?view" target="blank") Secret Manager
        h2.project-title: a(href="https://hackmd.io/dtW99dS_SQGwUEQyWqOFmw?view" target="blank") Data Manager 
        h2.project-title: a(href="https://lernenlernenlernen.at" target="blank") LernenLernenLernen
        //- h2.project-title: a(href="https://" target="blank") Secundo

    include ../footermodule/footer.pug