//- projectpage structure
#projectpage.page
    include ../pageheadingmodule/pageheading.pug
    h1#projectpage-title.max-content Projekte

    #project-listing.max-content
        h2.project-title rgb.li 
        h2.project-title Burgerbird
        h2.project-title Videomat
        h2.project-title Klaus Salmutter 
        h2.project-title Thingycreate
        h2.project-title Mega Easy Habits
        h2.project-title Secret Manager
        h2.project-title Data Manager 
        h2.project-title LernenLernenLernen
        h2.project-title Takendo

    include ../footermodule/footer.pug