//- footer structure
#footer
    #footer-icon
    p#footer-top-line.max-content 0 Cookies
    p#footer-botom-line.max-content Build with 
        a(href="https://www.npmjs.com/package/thingycreate" target="blank") ThingyCreate.
        | Hosted on 
        a(href="https://archlinux.org/" target="blank") Arch Linux.
        | Source Code on 
        a(href="https://github.com/JhonnyJason/rgb-ag-website" target="blank") Github.