//- contactpage structure
#contactpage.page

    include ../pageheadingmodule/pageheading.pug
    h1#contactpage-title.max-content Kontakt

    #impressum.max-content
        h3#impressum-title Lichtfarben Arbeitsgruppe
        p#impressum-address Am Eisernen Tor 2 <br>
            | 8010 Graz <br> 
            | Austria
        #contactpage-barcode: svg: use(href="#svg-barcode-image")
        #contactpage-email: a(href="mailto:mail@rgb.at") mail@rgb.at
    #octocat-image: svg: use(href="#svg-octocat-image")
    include ../footermodule/footer.pug