// contactpage styles
#contactpage
    background-color #94DEF5
    padding-bottom 155px
    h3 
        font-weight: 400
        font-size 21px
    p
        font-size 14px


#impressum
    margin-top: 140px
    max-width 563px

#impressum-title
    margin-bottom 5px
#impressum-address
    line-height 130%

#contactpage-barcode
    margin 20px 0
    height (100vw * 0.22777) 
    max-height 150px
    svg
        width 100%
        height (100vw * 0.22777)
        max-height 150px

#contactpage-email
    font-weight: 400
    font-size 16px
    text-align right
    text-transform: none

#octocat-image
    color cd-foreground
    margin auto
    margin-top 100px
    width 140px
    svg
        width 140px
        height 140px