// contactpage styles
#contactpage
    background-color #94DEF5
    padding-bottom 140px
    h3 
        font-weight: 400
        font-size 21pt
    p
        font-size 14pt

    
        

#impressum
    margin-top: 140px

#impressum-title
    margin-bottom 5px
#impressum-address
    line-height 130%

#contactpage-barcode
    margin 20px 0
    svg
        width 100%
        height auto

#contactpage-email
    font-weight: 400
    font-size 16pt
    text-align right

#octocat-image
    margin auto
    margin-top 100px
    width 140px
    svg
        width 140px
        height 140px