//- pageheading structure
.pageheading.max-content
    h.heading-rgb-ag rgb.ag
    a.heading-menu(href="#top")
        .heading-menu-icon: svg: use(href="#svg-menu-icon")
        h6.heading-menu-link menu
