// pageheading styles
.pageheading
    padding-top 112px
    margin-bottom 22px
    display flex
    justify-content: space-between

.heading-menu
    display flex
    justify-content: flex-end

.heading-menu-icon
    margin-right 5px
    svg
        width 12px
        height 12px
